:root {
  --background-color-dark: #373938; /* Original dark theme background */
  --text-color-dark: #fff; /* Original dark theme text color */

  --background-color-light: #fff; /* New light theme background */
  --text-color-light: #000; /* New light theme text color */
}

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.light-theme {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
