.form-container {
    color:  #76daff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: transparent;
    border: 2px solid #F6E8EA;
    border-radius: 5px;
    color: #F6E8EA;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #F6E8EA;
    color: #000;
    border-color: #F6E8EA;
}
