.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.modal-card {
    background-color: #282c34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    max-width: 500px;
    max-height: 80vh;
    z-index: 1000;
    overflow: auto;
}

.modal-card p, .modal-card label, .modal-card input, .modal-card textarea {
    color: #ffffff;
    margin: 10px 0;
    line-height: 1.5;
}

.modal-card input, .modal-card textarea {
    background: #333;
    border: 1px solid #76daff;
    border-radius: 4px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.modal-card label {
    color: #76daff;
    display: block;
}

.modal-actions {
    margin-top: 20px;
    text-align: right;
}

.modal-actions button {
    background-color: transparent;
    color: #76daff;
    border: 2px solid #76daff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.modal-actions button:hover {
    background-color: #76daff;
    color: #ffffff;
}

.modal-label {
    color: #76daff;
    margin-bottom: 5px;
    display: block;
}

.modal-input, .modal-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    border: 1px solid #76daff;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
}

.modal-textarea {
    height: 100px;
}

.modal-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    border: 1px solid #76daff;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
  }