/* Container for the sidebar and content */
.settings-container {
    display: flex;
    height: 80vh;
    width: 60vw;
    margin-top: 50px;
}

.settings-container.light {
    background-color: #fff; /* Light background */
    color: #000; /* Dark text for light background */
}

.settings-container.dark {
    background-color: #333; /* Dark background */
    color: #fff; /* Light text for dark background */
}

/* Sidebar styling */
.sidebar {
    flex: 0 0 170px; /* Fixed width for sidebar */
    padding: 20px;
    background-color: #F6E8EA; /* Light grey background */
    border-right: 1px solid #F6E8EA; /* Separator line */
    border-radius: 15px 0 0 15px; /* Rounded left edges */
    background-color: rgb(34,32,31);
}

/* Navigation link styling */
.navLink {
    display: block;
    padding: 10px;
    margin: 5px 0;
    color: #F6E8EA; /* Dark text color for contrast */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    border-radius: 15px; /* Rounded corners for links */
    transition: background-color 0.3s; /* Smooth background color transition */
}

/* Hover effect for navigation links */
.navLink:hover {
    background-color: #F6E8EA; /* Lighter grey on hover */
    color: rgb(34,32,31);
    /* 040D12 */
}

/* Active navigation link styling */
.navLink.active {
    background-color: #F6E8EA; /* Bootstrap primary color for reference */
    color: rgb(34,32,31); /* White text color */
    font-weight: bold; /* Make it pop */
}

/* Main content area styling */
.mainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    background-color: #222222; /* White background */
    text-align: left;
    border-radius: 0 15px 15px 0; /* Rounded right edges */
    color: rgb(34,32,31);
    opacity: 0.95;
    min-width: 40vw;
    overflow-y: auto;
    font-size: 1.2rem;
}

.settingsContainer {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px; /* Rounded corners for the container */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.settings-container.light .sidebar {
    background-color: rgb(123,40,65); /* Light background for light theme */
    color: rgb(34,32,31); /* Dark text color for light background */
    border: 1px solid #000;
}

.settings-container.light .mainContent {
    background-color: #FEFEFF; /* Light background for light theme */
    color: rgb(34,32,31); /* Dark text color for light background */
    border: 1px solid #000;
}

.settings-container.light .navLink:hover {
    background-color: #FEFEFF; /* Dark background color on hover for light theme */
    color: #000; /* Light text color on hover for light theme */
}

.settings-container.light .navLink.active {
    background-color: #FEFEFF; /* Dark background color for active state in light theme */
    color: #000; /* Light text color for active state in light theme */
}

.settings-container.light .navLink {
    color: #fff; /* Light text color for active state in light theme */
}

/* Adjustments for light and dark themes within the profile section */
.settings-container.light .profile-section {
    background-color: #fff; /* Brighter background for light theme */
    color: #2c3e50; /* Darker text for contrast */
}

.settings-container.dark .profile-section {
    background-color: #34495e; /* Dark background for dark theme */
    color: #ecf0f1; /* Light text for readability */
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.bottom-section {
    margin-top: 20px; /* Adjust based on your design preference */
    border: 1px solid #373938;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    overflow: auto;
}

.leftSection, .rightSection, .bottom-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.profile-settings, .search-projects {
    padding: 0 20px;
    margin: 20px 20px 10px 20px;
}

.profile-settings-light, .search-projects-light {
    padding: 0 20px;
    margin: 20px 20px 10px 20px;
}

.bottom-section {
    padding: 0 20px;
    margin: 10px 20px 20px 20px;
}

.top-section h2, .bottom-section h2 {
    font-weight: 500;
}

.title-container {
    display: inline-block;
    position: relative;
}

.title-container hr {
    width: 100%;
}

.title-container h2 {
    margin-bottom: 0;
}

.top-section strong, .bottom-section strong {
    font-weight: 400;
}
.bottom-section-light strong {
    font-weight: 400;
}
.profile-settings, .search-projects, .bottom-section {
    border: 1px solid #373739;
    border-radius: 15px; /* Feel free to adjust the styling */
    background-color: #444444; /* Adjust background colors as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow for depth */
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    overflow: auto;
    color: #F6E8EA;
    font-weight: 130;
}
.bottom-section-light {
    margin-top: 20px; /* Adjust based on your design preference */
    border: 1px solid #373938;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    overflow: auto;
}

.bottom-section-light {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.bottom-section-light {
    padding: 0 20px;
    margin: 10px 20px 20px 20px;
}

.bottom-section-light h2 {
    font-weight: 500;
}

.profile-settings-light, .search-projects-light, .bottom-section-light {
    border: 1px solid black;
    border-radius: 15px; /* Feel free to adjust the styling */
    background-color: #F6E8EA; /* Adjust background colors as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow for depth */
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    overflow: auto;
    color: #444444;
    font-weight: 130;
}

.join-team-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #8bc34a;
    color: #fff;
    border: 1px solid #8bc34a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    opacity: 0.9;
}

.join-team-button:hover {
    background-color: #8bc34a; /* New background color */
    color: #fff; /* New text color */
    border: 1px solid #8bc34a;
    box-shadow: #000;
    opacity: 1;
}

.leave-team-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #CD5C5C;
    color: #fff;
    border: 1px solid #CD5C5C;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    opacity: 0.9;
}

.leave-team-button:hover {
    background-color: #CD5C5C; /* New background color */
    color: #fff; /* New text color */
    border: 1px solid #CD5C5C;
    box-shadow: #000;
    opacity: 1;
}

.edit-project-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid #64b5f6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #64b5f6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.edit-project-button:hover, .edit-project-button:focus {
    background-color: #64b5f6;
    color: #fff;
    border-color: #64b5f6;
}

.edit-project-button svg {
    transform: scale(1); /* Adjust scaling factor as needed */
}

.search-projects {
    height: 100%;
}
.search-projects-light {
    height: 100%;
}

.project-overview {
    margin-bottom: 45px;
    overflow-y: auto; /* Enables vertical scrolling */
}

.bottom-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* If you want the entire section scrollable */
    height: calc(100% - 40px); /* Adjust based on other content */
}